pandas==2.1.1
openpyxl==3.1.2
seaborn==0.13.2
tushare==1.4.21  # 获取股票数据
streamlit==1.41.0
matplotlib==3.8.0
mplfinance==0.12.10b0
xlrd==2.0.1  # 用于excel文件读取
tables==3.9.2  # 用于创建h5文件
streamlit-modal==0.1.2  # 用于st弹出对话框
st-annotated-text==4.0.1  # 用于字体展示好看
streamlit-authenticator==0.2.3  # 用于用户认证
streamlit-local-storage==0.0.25  # 用作缓存本地密码
qrcode==7.4.2  # 用于生成微信登录二维码
pillow==10.2.0  # 用于图片处理
requests==2.31.0  # 用于HTTP请求
